
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}


input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}


a {
  text-decoration: none;
  color: inherit;
}


ul, ol {
  list-style: none;
}


:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}